{% extends "base.html" %}

{% block body %}
    <div class="container">
        <div class="jumbotron">
            <div>
                <label for="sendText" class="control-label">Название фильма</label>
                <input id="sendText" type="text" value="" class="input-lg"/>
                <button id="buttonGetMovieInfo" class="btn btn-primary btn-lg">
                    Получить информацию о фильме
                </button>
            </div>
        </div>
    </div>

{% endblock body %}