{% extends "index.html" %}

{% block search-results %}
    <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-8">
            <table id="serp" class="table">
                <tr>
                    <th>#</th>
                    <th>Название</th>
                    <th>IMDB</th>
                </tr>

                {% for movie in movies %}
                    <tr class="movies-row">
                        <td>{{ forloop.counter }}</td>
                        <td>
                            <a href="/movie/id/{{ movie.movieID }}">
                                <span>{{ movie.extra_data.title }}</span>
                            </a>
                        </td>
                        <td><a href="http://www.imdb.com/title/tt{{ movie.movieID }}">
                            <span>view on imdb</span>
                        </a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="col-xs-2"></div>

    </div>

{% endblock search-results %}
http://www.imdb.com/title/tt